.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffccd1; /* Light red background */
}

.center-content {
  text-align: center;
}

.red-btn {
  background-color: #FF5252; /* Red button background */
  color: #ffffff;
}
